.navbar {
    font-family: 'Sofia', cursive;
    font-size: 20px;
    font-weight: bold;
    width: 100vw;
}
h1 {
    font-family: 'Bad Script';
}
p {
    font-family: 'Bad Script';
    font-size: 18px;
    margin-left: 0;
}
.container {
    width: 66vw;
    margin-left: 20px;
    margin-top: 40px;
    background-color: white;
}
body {
    background-image: url("../Images/20180804_132201.jpg");
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    background-color: mediumvioletred;
    color: wheat;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 16px;
}