.navbar {
    font-family: 'Sofia', cursive;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-right: 0%;
}
.navbar-brand {
    font-size: 30px;
}
h1 {
    font-family: 'Bad Script';
}
p {
    font-family: 'Bad Script';
    font-size: 18px;
    margin-left: 0;
}
.container {
    position: relative;
    width: 60%;
    left: auto;
    top: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
}
body {
    background-image: url("../Images/20180804_132201.jpg");
    background-repeat: no-repeat;
    margin-bottom: 100px;
    animation:sky_anim 120s linear infinite;
}
.img-thumbnail {
    border: 1px solid darkslategray;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: auto;
}
.profile {
    max-width: 30%;
    height: auto;
}
img {
    box-sizing: border-box;
    display: block;
    object-fit: contain;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 3px;
}
.grid-container > div {
    position: relative;
    left: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: indigo;
    display: flex;
    align-items: left;
}    
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;  
    background-color: mediumvioletred;
    color: wheat;
    text-align: center;
    font-family: 'Sofia', cursive;
    font-size: 16px;
}
.btn-primary {
    margin-bottom: 20px;
}
.form-group {
    margin: 20px;
}
.btn {
    margin: 20px;
}
@keyframes sky_anim{
	0%{background-position:0 0;}
		100%{background-position:-2122px 0;}
}